* {
    margin: 0px;
    padding: 0px;
    font-family: Arial;
}

body {
    background-color: #ededed;
}

#container {
    background-color: #485ead;
    width: 850px;
    height: 350px;
    position: absolute;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

#avatar {
    background-color: #485ead;
    border: 1px solid #212121;
    height: 150px;
    width: 150px;
    position: absolute;
    bottom: 15px;
    left: 15px;
}

#links {
    background-color: white;
    width: 100%;
    height: 50px;
    bottom: 0px;
    position: absolute;
}

#actuallinks {
    left: 165px;
    position: absolute;
    height: 50px;
}

#actuallinks ul li {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    padding: 15px;
    text-align: center;
}

#actuallinks ul li:nth-child(1) {
    border-bottom: 3px solid #485ead;
    font-weight: bold;
}

#titles {
    position: absolute;
    padding: 15px;
    bottom: 50px;
    left: 165px;
    color: white;
}

#container2 {
    width: 850px;
    height: 350px;
    position: absolute;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 365px;
    display: flex;
    justify-content: center;
}

#leftcolumn {
    margin: 10px;
    width: 328px;
    height: 500px;
    flex: 1;
}

#rightcolumn {
    width: 512px;
    height: 500px;
    flex: 1;
    margin: 10px;
}

#about {
    width: 100%;
    background-color: white;
    height: 150px;
}

#aboutcontent {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

#aboutcontent h3 {
    font-size: 18px;
    padding-bottom: 5px;
}

#aboutcontent p {
    font-size: 13px;
    color: #485ead;
    border-bottom: 1px solid gray;
    padding-bottom: 10px;
}

#websitelink {
    padding-top: 12px;
    padding-left: 20px;
}

#websitelink a {
    font-size: 18px;
    text-decoration: none;
    font-weight: bold;
    color: #485ead;
}

#websitelink a:hover {
    text-decoration: underline;
}

#addresswrap {
    margin-top: 15px;
    background-color: white;
    height: 125px;
}

#address {
    padding-top: 20px;
    padding-left: 25px;
    padding-right: 10px;
    padding-bottom: 15px;
    border-bottom: 1px solid gray;
}

#phone {
    padding-top: 15px;
    padding-left: 25px;
    color: #485ead;
}

#history {
    background-color: white;
    height: 350px;
}

#details {
    font-size: 14px;
    height: 75px;
    vertical-align: center;
    display: flex;
}

#detailsimage {
    background-color: #485ead;
    height: 50px;
    width: 50px;
    margin-left: 15px;
    padding-top: 15px;
}

#image {
    height: 235px;
    background-color: #485ead;
    width: 98%;
    margin: 0 auto;
}

#buttons {
    color: #485ead
}

#buttons ul li:hover {
    text-decoration: underline;
}

#buttons ul li {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    padding: 10px;
    padding-left: 15px;
    text-align: center;
}